.job-card{
    width: 80%;
    height: 5.625rem;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    padding: 1rem;
}
#job-page-card{
    background: linear-gradient(90deg, #9175F9 0%, #4C30B2 100%);
    border-radius: 20px;
}
#job-page-card .primary-text{
    color: white;
}
#job-page-card .secondary-text{
    color: #C4C4C4;
}
.job-card ul{
    list-style: none;

}
.primary-text{
    
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;

color: #0F3F62;
}
.secondary-text{
    
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #8695A0;
}
.lists{
    display: flex;
    justify-content: flex-start;
    width: 50rem;
    justify-content: space-between;
    align-items: center;
}
.lists:nth-child(2){
    width: 64rem;
}
.job-card img{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    margin-right: -20px;
}