.container{
    width: 100%;
}
.has-search .form-control {
    padding-left: 2.375rem;
    height: 3.75rem;
    width: 31.063rem; 
    background: #FFFFFF;
    border-radius: 15px;
    border: none;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    
    color: #8695A0;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    line-height: 3.75rem;
    text-align: center;
    pointer-events: none;
    color: #0F3F62;
}
.form-control:focus{
    outline: none;
    border-color: transparent;
}

.has-search{
    display: flex;
    align-items: center;
    height: 3.75rem;
    width: 40.875rem; 
    background: #FFFFFF;
    border-radius: 15px;
    border: none;
    padding-left: 1rem; 
    
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
text-align: center;
letter-spacing: 0.02em;

color: #8695A0;

}
.citys-dropdown {
    padding-left: 24px; /* Adjust the padding to accommodate the arrow */
    background-color: transparent;
    border: none;
    width: 6rem;
    margin-left: 2rem;
    outline: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL4zPI4oSgOSu9X9AWwH0UNGRJBeXnPdPjZ2GPfruVnEKWQuylQtAIdegCu_viK37bokA&usqp=CAU'); /* Replace with your arrow image */
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 19px; /* Adjust the size of the arrow image */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */


letter-spacing: 0.02em;

color: #0A043C;
  }
 
.title-n-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    width: 80%;

}
  
.title-text{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
letter-spacing: 0.02em;

color: #0F3F62;
}