.login-register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; margin-left: 45pc;
    
  }
  .register-heading {
    color: blue; /* Set the desired color for the register heading */
  }
  
  .login-heading {
    color: green; /* Set the desired color for the login heading */
  }
  
  .form {
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form button[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #1266f1;
    color: #fff;
    cursor: pointer;
  }
  
  .form button[type='submit']:hover {
    background-color: #0e4d92;
  }
  
  .form .toggle-form {
    text-align: center;
    color: #1266f1;
    cursor: pointer;
    margin-top: 15px;
  }
  #name{
    width: 100%;
  }
  #terms{
 width: 40px;
 height: 18px;
 border: #1266f1 2px;
 margin-top: 20px;
  }
  .label{
    font-weight: bold;
   font-size: 18px;
   color: #0e4d92;
  }
  .submit{
    margin-top: 10px;
  }